<% provide(:title,"About") %>
<h1>About</h1>
    <p>
      This is about of the Travel for knowledge at the
      <a href="#">Travel for knowledge about
      page</a>.
      To get more information on this app, see the
      <a href="#"><em>about </em> link</a>.
    </p>
