<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on this website at the
  <a href="#">help</a>.
  To get help on this app, see the
  <a href="#"><em>Travel for knowledge</em>
  book</a>.
</p>