<footer class="footer">
  <small>
    The <a href="http://facebook.com/linhphancntt">Travel for knowledge</a>
    by <a href="http://facebook.com/linhphancntt">Linh Phan Nguyen</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://boredpanda.com/">News</a></li>
    </ul>
  </nav>
</footer>